.card-footer .vehicle-price {
	font-size: 22px;
	color: #c81f1f;
	font-weight: 500;
}
.card-body li.list-group-item .card-title {
	-webkit-line-clamp: 1;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	word-break: break-word;
}
.card-img-top {
	object-fit: cover;
}
@media (min-width: 576px) {
	.card-img-top {
		height: 40vw;
	}
}
@media (min-width: 768px) {
	.card-img-top {
		height: 35vw;
	}
}
@media (min-width: 992px) {
	.card-img-top {
		height: 20vw;
	}
}
@media (min-width: 1200px) {
	.card-img-top {
		height: 15vw;
	}
}
