.menu-border {
  border-bottom: 4px solid #1a60a5;
}
.logo-car {
  color: #1a60a5;
}
.logo {
  text-shadow: 0.2px 0.2px 0.4px #adb5bd;
}
.logo span {
  color: #175491;
}
div.logo :nth-child(2) {
  font-weight: 350;
}
div.logo :nth-child(3) {
  color: #eb0e0e;
  font-weight: 500;
}